body {
  font-family: "Calibri", "Helvetica", "sans-serif";
}
h1 {
  font-size: 1.313em;
}

h2 {
  font-size: 0.9167em;

p {
  font-size: 0.9167em;
}
input {
  font-size: 0.9167em;
}
input {
  font-size: 0.9167em;
}
}
a:link {
  text-decoration: none;
}